.accordion
  text-align: center
  margin-top: 100px

  $this: &

  &__panel
    background-color: #fff
    width: 68%
    margin: 0 auto
    border-radius: 8px
    border: 1px solid #D3D3D3

    &:not(:last-of-type)
      margin-bottom: 30px

    &.active #{$this}__content
      max-height: 263px

    &.active #{$this}__img
      transform: rotate(180deg)

  &__desc
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 26px
    color: #000000
    text-align: start

  &__button
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 26px
    color: #FFFFFF
    padding: 8px 18px
    background: #FF8A00
    width: max-content
    margin-top: 30px
    border-radius: 3px

  &__header
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 29px
    background-color: transparent
    border: none
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding: 30px

  &__content
    transition: max-height .3s cubic-bezier(0.72, 0.73, 0.23, 0.21)
    max-height: 0
    overflow: hidden

  &__text
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 29px

  &__wrapper
    padding: 30px
    border-top: 1px solid #D3D3D3

  &__img
    transition: transform .3s cubic-bezier(0.72, 0.73, 0.23, 0.21)
